{% extends "layout.html" %}
{% from "macros/render_form.html" import render_field, render_checkbox %}
{% block outer_content %}
    <style>
        .demo-list-item {
            width: 300px;
        }
    </style>

    <center>
        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Name</strong> - {{ ev.name }}
</span>
            </li>
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Timestamp</strong> - {{ ev.timestamp }}
</span>
            </li>
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Latitude</strong> - {{ ev.latitude }}
</span>
            </li>
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Longitude</strong>  - {{ ev.longitude }}
</span>
            </li>
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Alert code</strong> - {{ ev.alert_code }}
</span>
            </li>
            <li class="mdl-list__item">
<span class="mdl-list__item-primary-content">
    <strong>Description</strong><br>
    {{ ev.description }}
</span>
            </li>
        </ul>

        <img alt="No Image" src="{{ url_for('event.get_event_image', event=ev.name) }}"/>
    </center>

{% endblock %}

