{% extends "layout.html" %}
{% block outer_content %}
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col">
    <ul class="demo-list-item mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>{{ ev.get_name_formatted() }}</strong></p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>Timestamp</strong>  {{ ev.timestamp }}</p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>Latitude</strong> {{ ev.latitude }}</p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>Longitude</strong> {{ ev.longitude }}</p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>Alert code</strong> {{ ev.alert_code.name }}</p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <p><strong>Description</strong></p>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                {{ ev.description }}
            </span>
        </li>
    </ul>

    <img alt="No Image" src="{{ url_for('event.get_event_image', event=ev.name) }}"/>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
</div>
{% endblock %}
