{% extends "layout.html" %}
{% from "macros/render_form.html" import render_field%}
{% block outer_content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1> ADMIN EVENT APPROVAL </h1>
        <br/>

        <!-- TABEL -->
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Event ID</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          {% for form in forms: %}

            <form name={{form.get_name()}} class="form form-register" method="POST"  action="" role="form">
                {{ form.hidden_tag() }}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric"> {{form.get_name()}} </td>
                  <td>
<!--                      <input type="hidden"  name={{form.get_name()}}>-->
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" name="action" value="approve"> Approve </button>
                  </td>
                  <td>
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" name="action" value="delete"> Delete </button>
                  </td>
                </tr>
            </form>
           {% endfor %}
          </tbody>
        </table>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}